/* ----------- CLEARFIX ---------- */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* ----------- MENU ICONS ------- */

#menu-posts .wp-menu-image {
	background: url('../images/palette-paint-brush-icon.png') no-repeat 6px -17px !important;
}

#menu-posts:hover .wp-menu-image, 
#menu-posts.wp-has-current-submenu .wp-menu-image {
	background-position: 6px 7px!important;
}

#menu-posts-dl_news .wp-menu-image {
	background: url('../images/paper-plane-icon.png') no-repeat 6px -17px !important;
}

#menu-posts-dl_news:hover .wp-menu-image, 
#menu-posts-dl_news.wp-has-current-submenu .wp-menu-image {
	background-position: 6px 7px!important;
}

/* --------- RIGHT NOW DASHBOARD WIDGET --------- */

#dl_dashboard_right_now p.sub,
#dl_dashboard_right_now .table, #dl_dashboard_right_now .versions {
	margin: -12px;
}

#dl_dashboard_right_now .inside {
	font-size: 12px;
	padding-top: 20px;
}

#dl_dashboard_right_now p.sub {
	padding: 5px 0 15px;
	color: #8f8f8f;
	font-size: 14px;
	position: absolute;
	top: -17px;
	left: 15px;
}

#dl_dashboard_right_now .table {
	margin: 0;
	padding: 0;
	position: relative;
}

#dl_dashboard_right_now .table_content {
	float: left;
	border-top: #ececec 1px solid;
	width: 45%;
}

#dl_dashboard_right_now .table_discussion {
	float: right;
	border-top: #ececec 1px solid;
	width: 45%;
}

#dl_dashboard_right_now table td {
	padding: 3px 0;
	white-space: nowrap;
}

#dl_dashboard_right_now table tr.first td {
	border-top: none;
}

#dl_dashboard_right_now td.b {
	font-family: 'Georgia', 'Times New Roman', serif;
	padding-right: 6px;
	text-align: right;
	font-size: 14px;
	width: 1%;
}

#dl_dashboard_right_now td.b a {
	font-size: 18px;
}

#dl_dashboard_right_now td.b a:hover {
	color: #d54e21;
}

#dl_dashboard_right_now .t {
	font-size: 12px;
	padding-right: 12px;
	padding-top: 6px;
	color: #777;
}

#dl_dashboard_right_now .t a {
	white-space: nowrap;
}

#dl_dashboard_right_now .versions {
	padding: 6px 10px 12px;
	clear: both;
}

#dl_dashboard_right_now a.button {
	float: right;
	clear: right;
	position: relative;
	top: -5px;
}

#dl_dashboard_right_now .system {
	float: right;
}

#dl_dashboard_right_now .system .b {
	font-weight: bold;
}

#dl_dashboard_right_now .musub,
#dl_dashboard_right_now .musubtable {
	display: none;
}

/* -------- SERIES --------- */

th.year {
	width: 7% !important;
}

th.detail {
	width: 4% !important;
}